---
layout: default
title: Comprar criptomoedas
permalink: /buy-crypto/
---

<head>
    {% include head.html %}
    {% include css_default.html %}
    {% include css_page.html %}
</head>

<body>
    {% include b_web_services.html %}
    <!-- Header -->
    {% include header.html %}

    <section class="content">
        <article class="page buy-crypto" id="page" role="main">
            <h2>Cambie criptomoedas pela melhor taxa</h2>
            <p>Transfira de uma carteira para outra em segundos. É simples assim.</p>

            <iframe src="https://changelly.com/widget/v1?auth=email&from=USD&to=BTC&merchant_id=15ee98024c1b&address=&amount=1&ref_id=15ee98024c1b&color=082688" width="600" height="500" class="changelly" scrolling="no" style="overflow-y: hidden; border: none">
                Não foi possível carregar o widget!
            </iframe>
        </article>
    </section>

    <!-- Footer -->
    {% include footer.html %}
    {% include icon-svg.html %}
</body>