---
layout: page
title: Equipe
permalink: /team/
---

{% for people in site.data.ediano.people %}
<section class="author {{ people.color }}">
    <div class="details">
        <img itemprop="image" src="{{ people.img }}" alt="{{ people.name }}">
        <div class="content">
            <p class="def">{{ people.def }}</p>
            <h3 class="name" itemprop="author">
                <a href="{{ people.link }}">{{ people.name }}</a>
            </h3>
            <p class="desc">{{ people.desc }}</p>
        </div>
    </div>
    <div class="social">
        {% for social in site.data.ediano.social %}
        <a href="{{ social.link }}" alt="{{ social.page }}"><svg><use xlink:href="#{{ social.icon }}"></use></svg></a>
        {% endfor %}
    </div>
</section>
{% endfor %}

{% for people in site.data.luciana.people %}
<section class="author {{ people.color }}">
    <div class="details">
        <img itemprop="image" src="{{ people.img }}" alt="{{ people.name }}">
        <div class="content">
            <p class="def">{{ people.def }}</p>
            <h3 class="name" itemprop="author">
                <a href="{{ people.link }}">{{ people.name }}</a>
            </h3>
            <p class="desc">{{ people.desc }}</p>
        </div>
    </div>
    <div class="social">
        {% for social in site.data.luciana.social %}
        <a href="{{ social.link }}" alt="{{ social.page }}"><svg><use xlink:href="#{{ social.icon }}"></use></svg></a>
        {% endfor %}
    </div>
</section>
{% endfor %}