/* Default
_____________________________________________________________*/

body {
    background-color: rgba(242, 242, 242, 1)
}

.row {
    margin-bottom: 0 !important
}

div.height {
    height: 500px;
    background: linear-gradient(to bottom left, #76C4E2, #8176B5)
}

.site-description {
    padding: 20px 50px;
    margin-top: -500px;
    overflow: hidden
}

.site-description p {
    font-weight: 400;
    color: #fff
}

a.top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    height: 40px;
    line-height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 0, .075);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 5px;
    z-index: 500
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    .grid {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        overflow: hidden
    }
}

@media only screen and (min-width: 993px) {
    .grid {
        width: 85%;
        margin-right: auto;
        margin-left: auto;
        overflow: hidden
    }
}

@media only screen and (min-width: 1200px) {
    .grid {
        width: 1170px;
        margin-right: auto;
        margin-left: auto;
        overflow: hidden
    }
}

code {
    background: #f7f7f7 !important;
    display: block !important;
    padding: 15px 10px !important;
    margin: 20px 0 40px 0 !important;
    border-left: 5px solid rgba(56, 60, 86, 1) !important;
    font-size: 80% !important;
    overflow: auto !important
}

blockquote {
    padding: 15px 10px !important;
    margin: 20px 0 40px 0 !important;
    font-size: 80% !important;
    background: #f7f7f7 !important;
    border-left: 5px solid rgba(56, 60, 86, 1) !important;
}

blockquote p {
    margin: 0 !important
}

.ads {
    width: 100%;
    display: inline-block;
    padding: 20px 7.5px;
    text-align: center;
    justify-content: center;
    overflow: hidden
}

.disabled {
    background-color: transparent !important;
    color: #b3b2b2 !important;
    cursor: default;
    pointer-events: none;
}

header nav {
    line-height: 64px !important;
    height: 64px !important
}

.divider {
    width: 100% !important;
    height: 2px !important
}

.follow {
    padding: 50px 15px;
    background-color: #fff;
    border-top: 1px solid rgba(255, 255, 255, 1);
    overflow: hidden
}

.follow .follow-text {
    font-size: 20px;
    font-weight: 600
}

.follow .follow-link img {
    height: 50px;
    width: 50px;
    margin: 0 5px
}

section.author {
    width: 100%;
    padding: 15px 0;
    background-color: #fff
}

section.author .details {
    padding: 25px;
    margin: 0 auto;
    color: #fff
}

section.author .def {
    margin: 0;
    color: rgba(255, 255, 255, .9)
}

section.author .name {
    margin: 5px 0;
    font-weight: 600
}

section.author .name a {
    color: #fff
}

section.author .name a:hover {
    color: rgba(255, 255, 255, .75)
}

section.author .desc {
    display: block;
    margin: 0
}

section.author .desc a {
    color: #fff;
    border-bottom: 1px solid #fff
}

#disqus_thread {
    padding: 50px 50px !important;
    overflow: hidden
}


/* Header
_____________________________________________________________*/

header .navbar.fixed a.header span,
header .navbar.fixed ul li a {
    color: rgba(56, 60, 86, 1)
}

header a.header,
header a.header span,
header a.header img {
    line-height: 64px;
    height: 64px;
    display: inline-block
}

header a.header {
    padding: 0 15px;
    font-size: 2rem
}

header a.header img {
    padding: 5px 0;
    position: absolute
}

header a.header span.logo {
    padding-left: 60px;
    position: absolute;
    top: 0
}

header nav .sidenav-trigger,
header nav .sidenav-trigger i.material-icons {
    line-height: 64px;
    height: 64px !important;
    margin: 0 !important
}

header .sidenav nav {
    margin: 0 0 20px 0
}

header .sidenav .header span {
    color: rgba(56, 60, 86, 1)
}

header .sidenav .divider {
    margin: 20px 0
}

header .sidenav menu {
    padding: 0;
    text-align: center;
}

header .sidenav menu li {
    display: inline-block;
    margin: 10px 0
}

header .sidenav menu li>a {
    margin: 0 5px
}


/* Main
_____________________________________________________________*/

main.row.grid {
    padding: 50px 0 !important
}

main.row.grid {
    margin-top: -50px !important
}

main,
main>div {
    padding: 2.5px;
    border-radius: 3px;
    overflow: hidden
}

main .home aside,
main .home .list-post,
main .post aside,
main .post article,
main .page aside,
main .page article {
    padding: 0 7.5px !important;
    overflow: hidden
}


/* Page
_____________________________________________________________*/

.page article h1 {
    font-size: 3rem;
    margin: 30px
}

.page article .content {
    background-color: #fff;
    padding: 20px 25px 50px 25px;
    margin: .5rem 0 1rem 0;
    border-radius: 3px
}

.page article .category {
    padding: 25px;
    margin: 0 0 25px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .05)
}

.page article .category:hover {
    background-color: rgba(0, 0, 0, .05)
}

.page article h2 {
    font-size: 2rem;
    margin: 0
}

.page article h2 a {
    color: rgba(31, 75, 158, 1)
}

.page .social {
    margin: 10px 25px 25px 25px;
    overflow: hidden
}

.page .social a img {
    width: 36px;
    height: 36px;
    line-height: 36px;
    padding: 0;
    margin: 0 10px
}

.erro .progress .indeterminate:after {
    -webkit-animation: indeterminate-short 5s cubic-bezier(0.165, 0.84, 0.44, 1) infinite !important;
    animation: indeterminate-short 5s cubic-bezier(0.165, 0.84, 0.44, 1) infinite !important;
    -webkit-animation-delay: 5s !important;
    animation-delay: 5s !important;
}

.erro .progress .indeterminate:before {
    -webkit-animation: indeterminate 5s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite !important;
    animation: indeterminate 5s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite !important;
}


/* Aside
_____________________________________________________________*/

aside .card {
    position: relative;
    margin: .5rem 0 3rem 0;
    border-radius: 3px;
    overflow: hidden
}

aside .card .title {
    display: block;
    padding: 0 0 7.5px 0;
    border-bottom: 1px solid #fff
}

aside .card.feed {
    padding: 75px 25px
}

aside .feed form,
aside .feed input {
    position: relative;
    z-index: 1 !important
}

aside .feed::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("/img/site/feed.jpg");
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .1
}

aside .category .title {
    padding: 25px 15px;
    margin: 0;
    color: #fff;
    background-color: #26a69a
}

aside .category ul.content {
    position: relative;
    padding: 0 25px 50px 25px;
    margin: 0;
    background-color: #009688;
    overflow: hidden
}

aside .category ul.content li {
    padding: 5px 0;
    margin: 10px
}

aside .category ul.content li:hover::before {
    content: "}";
    position: absolute;
    left: 20px;
    color: #fff
}

aside .category li a {
    display: block;
    color: rgba(255, 255, 255, .75)
}

aside .category li a:hover {
    color: rgba(255, 255, 255, 1)
}


/* Home - List Post
_____________________________________________________________*/

.home article .article-content {
    position: relative;
    background-color: #fff
}

.home article .thumbnail-post {
    position: relative;
    overflow: hidden
}

.home article .thumbnail-post>a {
    z-index: 3
}

.home article .thumbnail-post:hover::before {
    opacity: 1;
}

.home article .thumbnail-post::before,
.home article .thumbnail-post>a::before {
    content: "[+]";
    font-size: 300%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 80px;
    text-align: center;
    background: rgba(51, 51, 51, 0.75);
    opacity: 0;
    z-index: 1
}

.home article .thumbnail-post ul.info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    text-transform: uppercase;
    z-index: 3;
    background: -webkit-linear-gradient(top, rgba(51, 51, 51, 0) 0, rgba(51, 51, 51, .75) 80px, rgba(51, 51, 51, .75) 100px)
}

.home article .thumbnail-post ul.info li {
    display: inline-block;
    margin: 0 10px
}

.home article .thumbnail-post ul.info a {
    color: #fff
}

.home article .thumbnail-post ul.info i.material-icons {
    font-size: 2rem;
    height: 80px;
    line-height: 80px;
    border-bottom: 2px solid transparent
}

.home article .thumbnail-post ul.info i.material-icons:hover {
    border-bottom: 2px solid #fff
}

.home article .content {
    overflow: hidden
}

.home article h2 {
    font-size: 2rem;
    letter-spacing: -0.3px;
    margin: 0
}

.home article h2 a {
    color: rgba(56, 60, 86, 1)
}

.home article h2 a:hover {
    color: rgba(31, 75, 158, 1)
}

.home article p.description {
    margin: 20px 0;
    font-weight: 500;
    color: rgba(0, 0, 0, .65);
    text-align: left;
    overflow: hidden
}

.home article .readmore {
    font-size: 1.2rem !important;
    z-index: 1;
    float: right;
    color: rgba(31, 75, 158, 1)
}


/* Post - Article
_____________________________________________________________*/

.post article .body ul:not(.browser-default)>li {
    padding: 10px 0;
    list-style-type: initial !important;
}

.post article .body ul:not(.browser-default) {
    padding: 0 0 0 40px !important;
    list-style-type: initial !important;
}

.post article .content {
    background-color: #fff;
    border-radius: 3px
}

.post article .body,
.erro article .content {
    padding: 7.5px;
    margin: .5rem 0 1rem 0
}

.post article .content,
.erro article .content {
    background-color: #fff;
    overflow: hidden
}

.post article .content {
    margin: .5rem 0 1rem 0
}

.post article h1 {
    padding: 0 25px;
    font-size: 3rem;
    font-weight: 300
}

.post article .info-post {
    font-weight: 300;
    font-size: 16px
}

.post article .info-post .authors a,
.post article .info-post .times time {
    color: rgba(0, 0, 0, .75);
    font-weight: 500
}

.post article .thumbnail-post,
.post article .thumbnail-post img {
    width: 100%;
    text-align: center;
    padding: 25px 0
}

.post article .share {
    padding: 25px 0;
    justify-content: center;
    align-items: center;
    text-align: center
}

.post article .share .share-text,
.post article .share .share-link {
    padding: 10px 15px
}

.post article .share .share-text {
    font-size: 2rem;
    font-weight: 500;
    justify-content: center;
    align-items: center
}

.post article .share .share-text i {
    font-size: 3rem
}

.post article .share .share-link {
    justify-content: center;
    align-items: center;
    text-align: center
}

.post article .share img {
    display: inline-block;
    height: 42px;
    line-height: 42px;
    margin: 0 5px
}

.post article .category {
    padding: 25px;
    text-align: center
}

.post article .category a {
    margin: 0 7.5px;
    color: rgba(0, 0, 0, .5)
}

.post article .body {
    padding: 0 30px;
    text-align: justify
}

.post article .body p {
    margin: 0 0 25px 0;
    letter-spacing: .01rem
}

.post article .body img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto
}

.post article .body h2 {
    display: inline-block;
    font-size: 2rem;
    font-weight: 400;
    margin: 2rem 0 .5rem 0;
    border-bottom: 1px solid;
    padding: 0 0 15px 0
}

.post article .body a {
    color: #009688;
    border-bottom: 2px dashed #009688
}

.post article .body a:hover {
    color: #fff;
    background-color: #009688
}

.post article .body a::after {
    content: "";
    display: inline-block;
    background-image: url("/img/site/link.png");
    background-size: 100%;
    margin-left: .3rem;
    width: 1rem;
    height: 1rem;
}

.post article .body:first-line {
    color: rgba(56, 60, 86, 1);
    font-weight: 500
}

.post article .body:first-letter {
    float: left;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1;
    margin-top: -5px;
    margin-right: 10px
}

.post article .related_posts {
    padding: 0 15px 20px 15px;
    overflow: hidden
}

.post article .related_posts h5 {
    font-weight: 700;
    margin: 0 0 15px 0 !important
}

.post article .related_posts li {
    padding: 0
}

.post article .list_related_posts {
    position: relative;
    height: 120px;
    margin: 10px;
    overflow: hidden
}

.post article .related_posts a {
    position: relative;
    min-height: 100%;
    min-width: 100%;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 10px 15px 0 15px;
    color: #fff;
    overflow: hidden;
    background-color: rgba(51, 51, 51, .75);
    z-index: 1;
    display: block
}

.post article .related_posts img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    overflow: hidden
}

.home .pagination,
.post .pagination {
    background: #fff;
    border-radius: 3px;
    overflow: hidden
}

.post .pagination .text {
    display: block;
    color: #999
}

.post .pagination .title-post {
    font-weight: 600
}

.post .pagination .title-post,
.post .pagination .title-post {
    text-transform: uppercase
}

.post .pagination .text,
.post .pagination .title-post {
    justify-content: center;
    align-items: center;
    display: flex
}

.home .pagination .next a:hover,
.home .pagination .prev a:hover,
.post .pagination .title-post:hover {
    color: #003954 !important
}

.home .pagination a {
    justify-content: center;
    align-items: center;
    display: flex !important
}

.home .pagination a,
.post .pagination a {
    display: block;
    padding: 25px 10px;
    color: #039be5;
    overflow: hidden
}

.post .pagination .title-post {
    color: #039be5
}


/* Footer
_____________________________________________________________*/

footer .footer-copyright {
    padding: 15px 0;
    background-color: #232f3c;
    color: #fff;
    overflow: hidden
}

footer .indications {
    display: block;
    padding: 15px 0 17px 0;
    overflow: hidden
}

footer .indications .text.grid {
    padding: 0;
    text-align: left
}

footer .indications .grid {
    padding: 25px 0
}


/* Search
_____________________________________________________________*/

.search {
    padding: 25px 25px 0 25px;
    background-color: #fff
}

.search #results-container li {
    display: block;
    padding: 15px 0;
    margin: 0 0 30px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1)
}

.search #results-container li:hover {
    background-color: rgba(0, 0, 0, .05);
    border-radius: 3px
}

.search #results-container li a {
    padding: 0 15px;
    color: rgba(31, 75, 158, 1)
}


/* Tags
_____________________________________________________________*/

.page article .tags {
    display: block;
    text-align: center;
    padding: 0 0 25px 0;
    margin: 25px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1)
}

.page article .tags a {
    display: inline-block;
    color: rgba(31, 75, 158, 1);
    background-color: rgba(0, 0, 0, .05);
    padding: 7.5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid transparent
}

.page article .tags a:hover {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .05)
}

.page article .list-tags {
    display: block
}

.page article .list-tags .tag-title {
    display: inline-block;
    padding: 20px 10px 10px 10px;
    margin: 15px 0 5px 0;
    color: #000;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, .075)
}

.page article .list-tags li {
    display: block;
    padding: 10px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1)
}

.page article .list-tags li:hover {
    background-color: rgba(0, 0, 0, .05);
    border-radius: 5px
}

.page article .list-tags .post-list li a {
    padding: 0 10px;
    color: rgba(31, 75, 158, 1)
}

.page article .list-tags .post-list li time {
    padding: 0 10px
}


/* Convert HTML
_____________________________________________________________*/

.page .tool-convert {
    width: 100%;
    text-align: center;
    overflow: hidden
}

.page .tool-convert h3 {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase
}

.page .tool-convert textarea {
    width: 100%;
    height: 250px
}


/* Mobile
_____________________________________________________________*/

@media only screen and (max-width: 600px) {
    section.author .details {
        width: 80%
    }
    section.author img {
        width: 100%;
        height: auto;
        padding: 0 25% 20px 25%
    }
    /* Header
___________________________*/
    header>.navbar.fixed {
        position: relative;
        height: 64px;
        z-index: 999
    }
    header>.navbar.fixed nav {
        position: fixed
    }
    /* Home - List Post
___________________________*/
    .home article {
        height: auto
    }
    .home article .thumbnail-post {
        height: auto;
        width: 100%
    }
    .home article .content {
        padding: 15px;
    }
    /* Post - Article
___________________________*/
    .post .info-post>div>div {
        margin: 0 0 5px 0
    }
    .post .info-post .authors,
    .post .info-post .times {
        display: block;
        padding: 0 10px
    }
    .post article .content {
        border-right: 1px solid rgba(229, 229, 229, 1);
        border-bottom: 1px solid rgba(229, 229, 229, 1);
        border-left: 1px solid rgba(229, 229, 229, 1)
    }
    /* Home - Pagination
___________________________*/
    .home .pagination a {
        width: 100%;
        text-align: center
    }
    /* Post - Pagination
___________________________*/
    .post .pagination .next,
    .post .pagination .prev {
        width: 100%;
        text-align: center
    }
    .home .pagination .prev,
    .post .pagination .next {
        border-bottom: 1px solid rgba(0, 0, 0, 0.05)
    }
    .home .pagination .prev,
    .post .pagination .prev {
        border-top: 1px solid rgba(0, 0, 0, 0.05)
    }
    /* Footer
___________________________*/
    footer .footer-copyright .copy,
    footer .footer-copyright .link {
        display: block;
        text-align: center;
        padding: 15px 0
    }
}

@media only screen and (max-width: 992px) {
    .home .list-post {
        margin-left: auto;
        margin-right: auto;
        text-align: center
    }
    .home article .content {
        position: absolute;
        bottom: 0;
        padding: 30px 0;
        width: 100%;
        z-index: 3;
        background: -webkit-linear-gradient(top, rgba(51, 51, 51, 0) 0, rgba(51, 51, 51, .75) 80px, rgba(51, 51, 51, .75) 100px)
    }
    .home article .thumbnail-post img {
        height: 320px;
        width: 480px
    }
    .home article h2 {
        padding: 0 10px;
        font-size: 1.5rem !important
    }
    .home article .content h2 a {
        color: #fff !important;
        font-weight: 600
    }
    .home article p.description {
        height: 80px;
    }
}

@media only screen and (max-width: 680px) {
    .home article {
        width: 80%;
        height: auto;
        margin: 0 auto 3rem auto
    }
    .home article .thumbnail-post {
        width: 100%;
        height: 320px
    }
}

@media only screen and (max-width: 992px) {
    section.author .details {
        width: 80%
    }
    /* Home - List Post
___________________________*/
    .home article .thumbnail-post ul.info,
    .home article p.description,
    .home article .readmore {
        display: none !important
    }
}

@media only screen and (min-width: 681px) and (max-width: 992px) {
    .home article {
        width: 50%;
        height: auto;
        float: left
    }
    .home article .article-content {
        margin: 0 7.5px 3rem 7.5px
    }
    .home article .thumbnail-post {
        width: 100%;
        height: 320px
    }
}

@media only screen and (min-width: 601px) {
    section.author img {
        float: left;
        width: 100px;
        height: 100px;
        margin: 0 15px 15px 0
    }
    /* Post - Article
___________________________*/
    .post .info-post {
        padding: 10px 0;
        justify-content: center;
        align-items: center;
        display: flex
    }
    .post .info-post .authors {
        border-right: 1px solid rgba(0, 0, 0, 0.25)
    }
    .post .info-post .authors,
    .post .info-post .times {
        display: inline-block;
        padding: 20px 15px
    }
    .post article .share,
    .post article .share .share-text,
    .post article .share a {
        display: flex;
    }
    .post article .share .share-link {
        display: flex;
        border-left: 1px solid
    }
    .post article .content {
        border-right: 1px solid rgba(229, 229, 229, 1);
        border-bottom: 1px solid rgba(229, 229, 229, 1)
    }
    /* Home / Post - Pagination
___________________________*/
    .home .pagination .next,
    .home .pagination .prev,
    .post .pagination .next,
    .post .pagination .prev {
        width: 50%
    }
    .home .pagination .next,
    .post .pagination .next {
        float: left;
        text-align: left;
        border-right: 1px solid rgba(0, 0, 0, 0.05)
    }
    .home .pagination .prev,
    .post .pagination .prev {
        float: left;
        text-align: left;
        border-left: 1px solid rgba(0, 0, 0, 0.05)
    }
    .home .pagination .prev,
    .post .pagination .prev {
        float: right;
        text-align: right
    }
    /* Footer
___________________________*/
    footer .footer-copyright .copy {
        float: left
    }
    footer .footer-copyright .link {
        float: right
    }
}

@media only screen and (min-width: 993px) {
    section.author .details {
        width: 70rem
    }
    /* Home - List Post
___________________________*/
    .home article {
        position: relative;
        height: 250px;
        margin: 7.5px 0 3rem 0;
        border-bottom: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5
    }
    .home article .thumbnail-post {
        height: 250px;
        width: 250px;
        float: left
    }
    .home article .thumbnail-post img {
        height: 250px;
        min-width: 100%;
        margin-left: -25%
    }
    .home article .content {
        padding: 20px 10px 45px 30px;
        height: 249px
    }
    .home article .content::after {
        content: "";
        position: absolute;
        left: 250px;
        right: 0;
        bottom: 0;
        top: 125px;
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0, #fff 80px, #fff 100px);
    }
    .home article .readmore {
        position: absolute;
        bottom: 10px;
        right: 10px
    }
}