<div class="ads">
    <h5>Publicidade</h5>
    <div class="ads-content">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Responsivo Conteúdo Moderno -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-6753037893956918"
            data-ad-slot="5859759293"
            data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>