<div class='card feed center orange darken-4'>
    <form action='https://feedburner.google.com/fb/a/mailverify' method='post' onsubmit='window.open(&apos;https://feedburner.google.com/fb/a/mailverify?uri=InsideBlock&apos;, &apos;popupwindow&apos;, &apos;scrollbars=yes,width=550,height=520&apos;);return true'
        target='popupwindow'>
        <p class="center white-text">Coloque o seu e-mail aqui para receber gratuitamente nossas atualizações!<br/> Sua privacidade esta garantida.</p>
        <input class="white-text" name='email' placeholder='seu@email.com' type='text' />
        <input name='uri' type='hidden' value='InsideBlock' />
        <input name='loc' type='hidden' value='pt_BR' />
        <input class='btn white black-text' type='submit' value='Cadastre-se' />
    </form>
</div>

<div class="card ads">
    {% include ads.html %}
</div>

<div class="card category">
    <h5 class="title">Categorias</h5>
    <ul class="content">
        {% for label in site.data.label %}
        <li>
            <a href="{{ label.link }}">
                {{ label.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>