{% if page.coauthor_luciana %}
{% for people in site.data.luciana_fabiano %}
<section class="author pink">
    <div class="details grid" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" class="img-rounded circle" src="{{ people.name_img }}" alt="{{ people.name }}">
        <p class="def">{{ people.name_reference }}</p>
        <h3 class="name">
            <a itemprop="url" target="_blank" href="{{ people.site_link }}">
                <span itemprop="name">{{ people.name }}</span></a>
        </h3>
        <p class="desc">{{ people.description }}</p>
    </div>
</section>
{% endfor %}
{% endif %} 