<style type="text/css">
    div.language-html.highlighter-rouge,
    div.language-css.highlighter-rouge,
    div.language-js.highlighter-rouge,
    figure.highlight {
        min-width: 100% !important;
        padding: 0 !important;
        overflow: auto !important
    }
    
    div.language-html.highlighter-rouge pre,
    div.language-css.highlighter-rouge pre,
    div.language-js.highlighter-rouge pre,
    figure.highlight pre {
        padding: 30px 0 !important;
        overflow: visible !important
    }
    
    div.highlighter-rouge,
    figure.highlight {
        margin: 1.25rem 0;
        word-wrap: break-word;
        background: #282c34;
        padding: 1.25rem 0;
        color: #fff;
        margin: 1.875rem 0;
        border-radius: 3px
    }
    
    div.highlighter-rouge pre {
        overflow: auto
    }
    
    pre {
        width: 90%;
        max-width: 800px;
        float: none;
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding: 0;
        font-weight: 300
    }
    
    code a.vglnk {
        color: #dcdcaa !important;
        border: none !important;
        pointer-events: none !important
    }
    
    code.highlighter-rouge {
        display: inline-block;
        background: #2da0c3;
        color: #fff;
        padding: 0 2.5px;
        font-weight: bold
    }
    
    code .c,
    code .c1 {
        color: #608b4e
    }
    
    code .p,
    code .o {
        color: #d4d4d4
    }
    
    code .err {
        border: 1px solid #fff;
        color: #fff
    }
    
    code .m,
    code .s,
    code .s1,
    code .n {
        color: #ce9178
    }
    
    code .sx,
    code .nx {
        color: #dcdcaa
    }
    
    code .kd,
    code .nt {
        color: #569cd6
    }
    
    code .nl,
    code .nb,
    code .na {
        color: #9cdcfe
    }
    
    code .nt,
    code .nc,
    code .nf {
        color: #d7ba7d
    }
    
    code .mi,
    code .m {
        color: #b5cea8
    }
    
    code .k {
        color: #c586c0
    }
</style>