<form class="feed" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=InsideBlock', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
    <p>Receba conteúdos exclusivos em seu email.</p>
    <div class="input">
        <input class="email" type="email" placeholder='Qual o seu email?' name="email" />
        <input type="hidden" value="InsideBlock" name="uri" />
        <input type="hidden" name="loc" value="pt_BR" />
        <input class="btn" type="submit" value="Cadastrar email" />
    </div>
</form>