<div class="follow" itemscope itemtype="http://schema.org/Organization">
    <link itemprop="url" href="https://www.insideblock.com">
    <h4>Siga-nos em nossas redes sociais</h4>
    <div class="content">
        {% for follow in site.data.insideblock.social %}
            <a class="{{ follow.icon }}" itemprop="sameAs" target="_blank" alt="Siga-nos no {{ follow.page }}" href="{{ follow.link }}">
                <svg><use xlink:href="#{{ follow.icon }}"></use></svg>
            </a>
        {% endfor %}
    </div>
</div>