<style type="text/css">
    /* Font Face Roboto */
    /* @font-face { font-family: "Roboto"; src: local(Roboto Thin), url("/assets/roboto/roboto-thin.woff2") format("woff2"), url("/assets/roboto/roboto-thin.woff") format("woff"); font-weight: 100; }*/
    
    @font-face {
        font-family: "Roboto";
        src: local(Roboto Light), url("/assets/roboto/roboto-light.woff2") format("woff2"), url("/assets/roboto/roboto-light.woff") format("woff");
        font-weight: 300;
    }
    
    @font-face {
        font-family: "Roboto";
        src: local(Roboto Regular), url("/assets/roboto/roboto-regular.woff2") format("woff2"), url("/assets/roboto/roboto-regular.woff") format("woff");
        font-weight: 400;
    }
    
    @font-face {
        font-family: "Roboto";
        src: local(Roboto Medium), url("/assets/roboto/roboto-medium.woff2") format("woff2"), url("/assets/roboto/roboto-medium.woff") format("woff");
        font-weight: 500;
    }
    /* @font-face { font-family: "Roboto"; src: local(Roboto Bold), url("/assets/roboto/roboto-bold.woff2") format("woff2"), url("/fonts/roboto/Roboto-Bold.woff") format("woff"); font-weight: 700; }*/
</style>