<div class="indications white center">
    <div class="text grid">Publicidade</div>
    <div class="divider grey"></div>
    <div class="grid">
        <div class="col s12 l4 xl4">
            <a href="https://www.coinbase.com/join/564144c840ca8439cf0001eb" alt="coinbase.com" target="_blank">
                <h5><span class="blue-text">Coinbase</span></h5>
            </a>
        </div>

        <div class="col s12 l4 xl4">
            <a href="https://freewallet.org/id/ediano" alt="freewallet.org" target="_blank">
                <h5><span class="green-text">Freewallet</span></h5>
            </a>
        </div>

        <div class="col s12 l4 xl4">
            <a href="https://incloude.com/pt/register?ref=ediano" alt="incloude.com" target="_blank">
                <h5><span class="green-text text-accent-4">Incloude</span></h5>
            </a>
        </div>
    </div>
</div>

<div class="footer-copyright">
    <div class="grid">
        <span class="copy">© 2016 - {{ site.time | date: "%Y" }} Copyright</span>
        <span class="link">Made by
            <a class="grey-text text-lighten-4" href="http://multicamada.com" target="_blank">Multi Camada</a>
        </span>
    </div>
</div>