<header>
    <div class="navbar">
        <div class="fixed">
            <nav>
                <h2 class="iten-header">
                    <a href="{{ site.url }}" aria-label="{{ site.url }}">
                        <svg><use xlink:href="#icon-cube"></use></svg>
                    </a>
                </h2>

                <ul>
                    <label class="search" for="search">
                        <svg><use xlink:href="#icon-search"></use></svg>
                    </label>
                    
                    {% for link in site.data.nav.nav %}
                    <li><a href="{{ link.url }}" class="{{ link.page }}">{{ link.page }}</a></li>
                    {% endfor %}

                    <label class="mobile" for="mobile">
                        <svg><use xlink:href="#icon-menu"></use></svg>
                    </label>
                </ul>
            </nav>
        </div>

        <input id="mobile" type="checkbox" style="display: none">
        <div class="list-mobile">
            <label class="mobile" for="mobile"></label>
            <ul>
                {% for link in site.data.nav.nav %}
                <li><a href="{{ link.url }}" class="{{ link.page }}">{{ link.page }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</header>