<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Title -->
{% if page.title %}
    <meta content='index' name='robots' />
    <title>{{ page.title }} │ {{ site.title }}</title>

    {% else %}
        {% if page.noindex %}
        <meta content='noindex,nofollow,noarchive' name='robots' />
        <title>{{ page.noindex }}</title>

        {% else %}
            <meta content='index' name='robots' />
            <title>{{ site.title }}</title>
            
        {% endif %}
{% endif %}

<!--
//    Template for GitHub
//    Modelo: Project Elsa v0.1.0
//    Desenvolvido por: Multicamada - https://multicamada.com
//    Autor: Ediano Silva Santos - https://github.com/ediano
//    Não remova os creditos de desenvolvedor.
-->

<meta name="theme-color" content="#2da0c3"/>
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
<link rel="alternate" type="application/rss+xml"  href="{{ site.url }}/feed.xml" title="{{ site.title }}"/>
<link rel="icon" type="image/x-icon" href="{{ site.url | append: site.logo | prepend: site.baseurl }}" />

{% include h_seo.html %}
{% include h_web_services.html %}