<div class="info-post" id="info-post">
{% if page.author %}
<div class="authors">
    {% if page.author_ediano %}
    <div class="author">Autor: {% for people in site.data.ediano %}
        <a href="{{ people.site_link }}" target="_blank">
            {{ people.name }}</a> {% endfor %}
    </div>
    {% endif %}

    {% if page.coauthor_luciana %}
    <div class="coauthor">Coautor: {% for people in site.data.luciana_fabiano %}
        <a href="{{ people.site_link }}" target="_blank">
            {{ people.name }}</a> {% endfor %}
    </div>
    {% endif %}

    {% if page.author_luciana %}
    <div class="coauthor">Coautor: {% for people in site.data.luciana_fabiano %}
        <a href="{{ people.site_link }}" target="_blank">
            {{ people.name }}</a> {% endfor %}
    </div>
    {% endif %}
</div>
{% endif %}

<div class="times">
    <div class="time">Em:
        <time>{% include date.html %}</time>
    </div>
    <div class="reading">Tempo de leitura:
        <reading>{{ page.content | number_of_words | divided_by:180 }} Minuto(s)</reading>
    </div>
</div>
</div>