{% if page.luciana %}
{% for people in site.data.luciana %}
<section class="author pink" itemprop="author">
    <div class="details grid" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" class="img-rounded circle" src="/img/team/luciana.png" alt="{{ people.name }}">
        <p class="def">Coautor:</p>
        <h3 class="name">
            <a itemprop="name" target="_blank" href="{{ people.site_link }}">{{ people.name }}</a>
        </h3>
        <p class="desc">{{ people.description }}</p>
    </div>
</section>
{% endfor %}
{% endif %}