<script type='application/ld+json'>{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ page.url | prepend: site.baseurl }}"
  },
  "headline": "{{ page.title }}"
  ,
  
  "description": "{{ page.content | strip_html | strip_newlines | truncate: 120 }}","datePublished": "{{ page.date | date: '%d de %B de %Y' }}",
  "dateModified": "{{ page.modified_time | date: '%d de %B de %Y' }}","image": {
    "@type": "ImageObject","url": "{{ site.url | append: '/img/logo/inside-block.png' }}",
    "height": 630,
    "width": 1200},"publisher": {
    "@type": "Organization",
    "name": "Inside Block",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url | append: '/img/logo/inside-block.png' }}",
      "width": 206,
      "height": 60
    }
  },"author": {
    "@type": "Person",
    "name": "
    {% if page.ediano %}
    {% for people in site.data.ediano %}
    Autor: {{ people.name }}
    {% endfor %}
    {% endif %}   
    "
  }
}</script>