<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <div class="search">
            <nav class='white'>
                <div class='nav-wrapper'>
                    <form action='/search'>
                        <div class='input-field'>
                            <input autocomplete='off' id='search' placeholder='Pesquisar... [Enter]' required='' type='search' />
                            <label class='label-icon' for='search'><i class='material-icons grey-text'>search</i></label>
                            <i class='material-icons'>close</i>
                        </div>
                    </form>
                </div>
            </nav>

            <!-- Results Search -->
            <ul id="results-container" class="flow-text"></ul>
        </div>

        <!-- Script pointing to search-script.js -->
        <script src="/assets/style/search.min.js" type="text/javascript"></script>

        <!-- Configuration -->
        <script>
            InsideBlockSearch({
                searchInput: document.getElementById('search'),
                resultsContainer: document.getElementById('results-container'),
                json: '/search.json'
            })
        </script>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
    </div>
</div>