<script type='application/ld+json'>{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ page.url | prepend: site.baseurl }}"
  },
  "headline": "{{ page.title }}"
  ,

  "description": "{{ page.content | strip_html | strip_newlines | truncate: 120 }}","datePublished": "{{ page.date: date_to_xmlschema }}",
  "dateModified": "{{ page.modified_time: date_to_xmlschema }}","image": {
    "@type": "ImageObject","url": "{{ site.url | append: '/assets/posts' | prepend: site.baseurl | append: page.img }}",
    "height": 630,
    "width": 1200},"publisher": {
    "@type": "Organization",
    "name": "Inside Block",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url | append: '/assets/posts' | prepend: site.baseurl | append: page.img }}",
      "width": 206,
      "height": 60
    }
  },"author": {
    "@type": "Person",
    "name": "
    {% if page.author_ediano %}
      {% for people in site.data.ediano %}
      Autor: {{ people.name }}
      {% endfor %}
    {% endif %}
    {% if page.author_luciana %}
      {% for people in site.data.luciana_fabiano %}
      Autor: {{ people.name }}
      {% endfor %}
    {% endif %}
    "
  }
}</script>