<div class="share-text"><i class="material-icons">share</i></div>

<div class="share-link">
    <a target="_blank" href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url | prepend: site.baseurl }}" class="face">
        <img src="/assets/img/ico/facebook.png" alt="Conpartilhar no Facebook" />
    </a>

    <a target="_blank" href="http://twitter.com/share?url={{ site.url }}{{ page.url | prepend: site.baseurl }}" class="twit">
        <img src="/assets/img/ico/twitter.png" alt="Conpartilhar no Twitter" />
    </a>

    <a target="_blank" href="https://plus.google.com/share?url={{ site.url }}{{ page.url | prepend: site.baseurl }}" class="gplus">
        <img src="/assets/img/ico/google.png" alt="Conpartilhar no Google Plus" />
    </a>

    <a target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url | prepend: site.baseurl }}" class="link">
        <img src="/assets/img/ico/linkedin.png" alt="Conpartilhar no LinkeDin" />
    </a>

    <a target="_blank" href="whatsapp://send?text={{ site.url }}{{ page.url | prepend: site.baseurl }}" class="what">
        <img src="/assets/img/ico/whatsapp.png" alt="Conpartilhar no Whatsapp" />
    </a>
</div>