<!-- Author : Google  -->
<link rel="author" href="https://plus.google.com/+edianosilvasantos?rel=author"/>


<!-- Social: Twitter -->
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@InsideBlock"/>
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
<meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 150 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 80 }}{% endif %}"/> {% if page.image %}
<meta property="twitter:image:src" content="{{ site.url }}{{page.img }}"/> {% else %}
<meta property="twitter:image:src" content="{{ '/img/post/' | prepend: site.baseurl | append: page.img }}"/> {% endif %}

<!-- Social: Facebook / Open Graph -->
<meta property="fb:admins" content="insideblock" />
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/> {% if page.image %}
<meta property="og:image" content="{{ site.url }}{{page.img }}"/> {% else %}
<meta property="og:image" content="{{ '/img/post/' | prepend: site.baseurl | append: page.img }}"/> {% endif %}
<meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 150 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 80 }}{% endif %}"/>
<meta property="og:site_name" content="{{ site.title }}"/>

<!-- Social: Google+ / Schema.org  -->
<meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta itemprop="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 150 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 80 }}{% endif %}"/>
<meta itemprop="image" content="{{ '/img/post/' | prepend: site.baseurl | append: page.img }}"/>