<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include head.html %}
</head>

<body>

    {% include google_tagmanager_noscript.html %}

    <div class="scrollspy" id="top"></div>

    <!-- Header -->
    <header class="row">
        {% include header.html %}
    </header>

    <div class="height"></div>
    <div class="site-description grid center-align">
        <div class="col s12">
            <p class="flow-text">{{ site.description | escape }}</p>
        </div>
    </div>

    <main class="row grid">        
        {{ content }}
    </main>

    {% include ediano.html %}
    {% include luciana_fabiano.html %}
    {% include related_posts.html %}
    {% include comments.html %}
    {% include follow.html %}

    <!-- Footer -->
    <footer class="row">
        {% include footer.html %}
    </footer>

    {% include topo.html %}
    <script id="dsq-count-scr" src="//inside-block.disqus.com/count.js" async></script>

    <!-- Scripts -->
    {% include scripts_style.html %}

</body>

</html>