---
layout: default
---

<body>
    {% include b_web_services.html %}
    {% include icon-svg.html %}

    <!-- Header -->
    {% include header.html %}
    <!-- Main -->
    <section class="content">
        <header class="header-post" role="banner">
            {% if page.image %}<img src="{{ page.image }}" alt="{{ page.title }}"/>{% endif %}
            <div class="content">
                {% include breadcrumb_list.html %}

                <h2 class="post-title">{{ page.title }}</h2>
                {% if page.description %}<p class="description">{{ page.description }}</p>{% endif %}

                <div class="people-time-comments">
                    <div class="people">
                        {% include people_post.html %}
                    </div>
                    
                    <div class="time-comments">
                        {% if page.date %}
                        <span><svg><use xlink:href="#icon-time"></use></svg><time datetime="{{ page.date | date_to_xmlschema }}">{% include date.html date=page.date %}</time></span>
                        {% endif %}

                        <span class="comments"><svg><use xlink:href="#icon-comments"></use></svg>
                            <a href="#disqus_thread"><div class="spinner"></div> Comentário</a>
                        </span>
                    </div>
                </div>
            </div>
        </header>

        {% if page.sponsorship %}
        <div class="sponsorship">
            Está é uma publicação paga. O Inside Block não é responsável por nenhum conteúdo, produto ou material nessa publicação.
        </div>
        {% endif %}
                
        {% include ads_in_article.html %}
        
        <article role="article" id="post" class="post">
            {{ content }}
        </article>

        {% include form_post.html %}
        {% include ads_in_article.html %}

            <hr/>

        {% if page.tags %}
        <div class="tags">#Tags:
            {% for tag in page.tags %}
            <a href="/tags/#{{ tag }}">{{ tag }}</a>
            {% endfor %}
        </div>
        {% endif %}

            <hr/>
        {% include share.html %}
        {% include related.html %}
        {% include authors.html %}
        {% include comments.html %}
    </section>

    <script type="application/ld+json">
        {
            "@context": "http://schema.org/",
            "@type": "BlogPosting",
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
            },
            "headline": "{{ page.title }}",
            "datePublished": "{{ page.date }}",
            "dateModified": "{{ page.date }}",
            "description": "{{ content | strip_html | strip_newlines | truncate: 150 }}",
            "image": {
                "@type": "ImageObject",
                "url": "{{ site.url }}{{ page.image }}"
            },
            "author": {
                "@type": "Person",
                "name": "
                {% if page.author_ediano %}Ediano Silva Santos{% endif %}
                {% if page.author_luciana %}Luciana Fabiano{% endif %}
                {% if page.author_danielli %}Danielli Carvalho{% endif %}
                {% if page.author_ib %}Inside Block{% endif %}"
            },
            "publisher": {
                "@type": "Organization",
                "name": "{{ site.title }}",
                "logo": {
                    "@type": "ImageObject",
                    "url": "{{ site.url }}{{ site.logo }}"
                }
            },
            "articleBody": "{{ content | strip_html | strip_newlines }}"
        }
    </script>

    <!-- Footer -->
    {% include footer.html %}
    {% include search.html %}
</body>
